version: '3.8'
services:
  web:
    build: .
    env_file:
      - .env
    volumes:
      - ./:/app:rw
      - ./data:/app/data:rw
    ports:
      - "5000:8000" # host:container
    command: flask run --host=0.0.0.0 --port=8000
    environment:
      - FLASK_ENV=development
    restart: unless-stopped
