{% extends "base.html" %} {% block title %}Про нас{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-4">Про нас</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <p class="text-lg">
            Ми продаємо найкращу побутову техніку для вашого дому. Наша команда прагне забезпечити вас якісними продуктами та відмінним сервісом.
        </p>
    </div>

    <div>
        <img
            src="https://images.mentoday.ru/upload/img_cache/6b1/6b176f2c459f8339dc71dd4b34f08011_ce_2000x1110x0x84_cropped_1200x628.jpg"
            alt="Placeholder"
            class="w-full rounded-lg shadow-md"
        />
    </div>
</div>
{% endblock %}
